<div class='container'>
    <mdb-card class="card">     
        <mdb-card-body class="px-lg-5 pt-2">
            <form [formGroup]="forgotpassword" class="text-center" style="color:#757575;" (ngSubmit)="forgotpass()">
              <div class="md-form mt-0">
                  <input type="text" class="form-control" formControlName="userName"  mdbInput >
                  <label>user name</label>
                  <div *ngIf="forgotpassword.controls['userName'].errors?.['required'] &&(forgotpassword.controls['userName'].dirty||
                        forgotpassword.controls['userName'].touched)" class="invalid">
                        username is required
                  </div>
              </div>
              
              <div class="md-form">
                  <input type="password"  class="form-control" formControlName="Password" mdbInput>
                  <label>New password</label>
                  <div *ngIf="forgotpassword.controls['Password'].errors?.['required'] &&(forgotpassword.controls['Password'].dirty||
                        forgotpassword.controls['Password'].touched)" class="invalid">
                        password is required
                  </div>
                  <div *ngIf="forgotpassword.controls['Password'].errors?.['pattern']" class="invalid">
                    password should match with condition
                 </div>
                </div>
              <div class="md-form">
                <input type="password"  class="form-control" formControlName="ConPassword" mdbInput>
                <label>Confirm password</label>
                <div *ngIf="forgotpassword.controls['ConPassword'].errors?.['required'] &&(forgotpassword.controls['Password'].dirty||
                      forgotpassword.controls['Password'].touched)" class="invalid">
                      confirm password is required
                </div>
                <div *ngIf="!ispassMatch" class="invalid">
                    password is mismatch
                </div> 
              </div>
              <br>
              <button  class="fa fa-sign-in button" [disabled]="forgotpassword.invalid"
              type="submit">Submit</button><br><br>
            </form>
        </mdb-card-body>
      </mdb-card>
</div>
